@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Nunito:wght@200&family=Red+Hat+Display:wght@500&family=Reem+Kufi:wght@500&family=Reenie+Beanie&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(234, 17%, 12%);
  height: 100vh;
  font-family:'Red Hat Display' sans-serif;
  background-image: url('./assets/stars.svg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

